

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.clear {
    clear: both;
}
   
.hero-unit{
    min-height:350px;
    background-repeat: no-repeat;
    background-position:right bottom;
    }
   
div.hero-unit div.span5 {
    margin:0px;
}

#signup {
    background-image:url('../img/signup.png');
}

#ngoreg {
    background-image:url('../img/ngoreg.png');
}

#about {
    background-image:url('../img/about.png');
}

#contact {
    background-image:url('../img/contact.png');
}

#volunteer {
    background-image:url('../img/volunteer.png');
}

#donate {
    background-image:url('../img/money.png');
}

#hero-input {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}

#hero-button {
    height: 40px;
}

#map {
    background-color: black;
    height: 500px;
}

















